---
apiVersion: v1
data:
  username: YXBwCg==
  password: YWRtaW4=
kind: Secret
metadata:
  name: postgresdb-app-password
  namespace: devcontainer
  labels:
    cnpg.io/reload: "true"
type: kubernetes.io/basic-auth
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: "postgresdb"
  namespace: devcontainer
  annotations:
    prometheus.io/scrape: "true"
    cnpg.io/hibernation: "off"
  labels:
    tags.datadoghq.com/service: "postgresdb"
    tags.datadoghq.com/env: local
spec:
  managed:
    roles:
      - name: app
        ensure: present
        login: true
        superuser: false
        inRoles:
          - postgres
        passwordSecret:
          name: postgresdb-app-password
  description: "Standard PostgreSQL cluster"
  imageName: ghcr.io/cloudnative-pg/postgresql:18
  enableSuperuserAccess: true
  instances: 1
  startDelay: 300
  primaryUpdateStrategy: unsupervised
  postgresql:
    parameters:
      tcp_keepalives_count: "10"
      tcp_keepalives_idle: "3600"
      tcp_keepalives_interval: "60"
      log_statement: all
      logging_collector: "on"
      log_min_duration_statement: "1000"
      #max_slot_wal_keep_size: -1
  bootstrap:
    initdb:
      postInitTemplateSQL:
        - CREATE EXTENSION IF NOT EXISTS vector;
        - CREATE EXTENSION IF NOT EXISTS pgcrypto;
      owner: postgres
      database: core-database
  storage:
    size: 2Gi
