apiVersion: v1
kind: Service
metadata:
  name: redisdb
  namespace: devcontainer
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redisdb
  namespace: devcontainer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:8-alpine
          command:
            - "redis-server"
            - "--save"
            - "20"
            - "1"
            - "--loglevel"
            - "warning"
            - "--requirepass"
            - "eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81"
          ports:
            - containerPort: 6379
